/* Style sheet for (Protfolio: Zaid Armouti) */
body{
    background-color: #4e5180;
    color: #F8F0E3;
    margin: 25px;
    font-family: Helvetica, sans-serif;
}
header{
    padding: auto 20px;
    margin: 25px;
}
header div h1{
    text-align: center;
} 
.nav a{
    color: #F8F0E3;
    text-decoration: none;
    border: 1px #F8F0E3 solid;
    padding: 10px;
    border-radius: 5px;

}
.nav a:hover{
    background-color: #F8F0E3;
    color: #4e5180;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#body{
    margin: 10px;
    padding: 10px;
}
#projects{
margin: 10px;
}

img{
    max-height: 100%;
    max-width: 100%;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tea-cozy a{
    color: #F8F0E3;
}